---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Join the Waitlist</Fragment>
      <Fragment slot="desc">
        You'll be the first to know when we launch
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Sign Up Now</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          We're incredibily excited to bring ReferBlock to market. We'll contact
          you when we launch. We may reach out to create a POC as well so you
          can be among the first to receive a custom solution from ReferBlock.
        </p>

        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>27 Maddison Ave, New York, NY 10010</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:hello@referblock.xyz">hello@referblock.xyz</a
            >
          </div>
          <!--
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a href="#"
            ></a>
          </div>
           -->
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
